<html>
<head>
    <title>Ma Médiathèque</title>
    <meta charset="UTF-8">
</head>
<body>

{% if session.connected is defined %}
<div>Bonjour {{ session.connected }}</div>
{% endif %}

<ul>
    <li><a href="/32_mediatheque_twig/index.php">home</a></li>
    <li><a href="/32_mediatheque_twig/index.php?entity=User&action=signin">s'inscrire</a></li>
    <li><a href="/32_mediatheque_twig/index.php?entity=User&action=connexion">se connecter</a></li>
</ul>

<ul>
    <li><a href="/32_mediatheque_twig/index.php?entity=Film&action=list">liste des films</a></li>
    <li><a href="/32_mediatheque_twig/index.php?entity=Film&action=last">le dernier film</a></li>
    <li><a href="/32_mediatheque_twig/index.php?entity=Film&action=add">ajouter un film</a></li>
</ul>

<ul>
    <li><a href="/32_mediatheque_twig/index.php?entity=Livre&action=list">liste des livre</a></li>
    <li><a href="/32_mediatheque_twig/index.php?entity=Livre&action=last">le dernier livre</a></li>
    <li><a href="/32_mediatheque_twig/index.php?entity=Livre&action=add">ajouter un livre</a></li>
</ul>

<h2>
    {% block title %}
        Bienvenue dans la médiathèque Twig
    {% endblock %}
</h2>

{% block content %}
    <p>Suspendisse auctor odio non purus sagittis aliquam. Aliquam tincidunt arcu at fringilla ultrices. Aliquam sed
        efficitur justo. Nunc eu malesuada velit. Aliquam ac eleifend purus, vehicula vestibulum metus. Fusce mattis justo
        enim, quis sollicitudin dui fermentum et. Donec vitae tincidunt dui. Cras scelerisque fringilla magna, in
        scelerisque quam ornare a. Donec aliquam lorem vel diam viverra, vitae convallis lacus tempor. Praesent vulputate
        elit vitae dapibus interdum. Fusce eleifend tortor ut egestas feugiat. Proin nec ligula vel dolor egestas
        interdum.</p>

    <p>Sed commodo eu sapien sit amet pharetra. Ut a euismod dui, in gravida nunc. Vestibulum ante ipsum primis in faucibus
        orci luctus et ultrices posuere cubilia curae; Vivamus ut mi eleifend, rutrum augue eget, aliquam nulla. Aliquam
        luctus, velit ut commodo pretium, felis ex iaculis velit, id tincidunt mauris nulla eu est. Proin lectus lectus,
        consectetur in tempor non, dapibus quis sapien. Suspendisse eget arcu ac nulla dictum suscipit nec vitae nunc. Morbi
        dapibus sem at lorem consequat semper. Donec sagittis diam lorem. Suspendisse congue nisl sapien, a bibendum ipsum
        fermentum id. Nunc at hendrerit augue, lobortis pellentesque justo. </p>
{% endblock %}
</body>
</html>