{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block content %}

    <form action="" method="post">
        <input type="text" name="prenom" placeholder="prénom"><br>
        <input type="text" name="nom" placeholder="nom"><br>
        <input type="text" name="login" placeholder="login"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit" name="signin" value="s'inscrire">
    </form>

{% endblock %}